.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boutton:hover{
  color: #FFC42E;
  background-color:rgb(255, 255, 255);
  border:solid gold;
  border-radius: 15px;

}
/*star*/
.star{
  margin-left:1rem;
  width: 25px;
}
/*Navbar*/
.fa-search {
  margin-left:-30px;
}
.fa-heart{
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}
.rounded-circle{
  margin-left:-16px;

}
.titrelogo{
font-size: 30px;
font-weight:bold;
margin-left: 1rem;
color: #ffffff;
font-family: 'Permanent Marker', cursive;
}
.logo{
  margin-left: 3rem;
}
.caro{ 
  margin-top: 5.9rem;
}
.navbar-light{
  background: #ffe54f;
  color:rgb(92, 86, 86) !important;
}
.navlink{
  font-size: 1rem;
  text-transform: uppercase;
  padding-right: 1.4rem;
  text-decoration: none!important; 
  color:rgb(255, 255, 255) !important;      /**/
}
body {
  background: rgb(204, 49, 49);
}
/*input border radius*/
.put{
  border-radius: 50px;
  outline: none;
}
/*nav bar links animation*/
h1 {
  font-family: 'Roboto', sans-serif;
  color: #070000;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(121, 138, 138);
}
.navlink {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.navlink:hover {
  opacity: 1;

}

.navlink::before {
  transition: 400ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: rgb(64, 26, 130);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
/* finish nav bar links animation*/
/*take action*/

section.get-started {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 250px 0;
  background-image: url("https://www.pixel4k.com/wp-content/uploads/2018/12/shazam-hd-movie-4k_1544286096.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
  min-height: 50vh;
}

section.get-started .get-started-content {
  position: relative;
  z-index: 1;
}

section.get-started .get-started-content h2 {
  font-size: 90px;
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #ffffff;
}
.browsing-button {
  padding: 15px 20px 15px;
  border-radius: 25px;
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(64, 26, 130, 1) 0%, rgba(201, 0, 135, 1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #d8d8d8;
  font-size: 17px;
}

.browsing-button:hover {
  text-decoration: none;
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(201, 0, 135, 1) 0%, rgba(64, 26, 130, 1) 100%);
  color: #d8d8d8;
}
/*section download*/
.twenty{ 
  width:5rem;
}
.store-download {
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(64, 26, 130, 1) 0%, rgba(201, 0, 135, 1) 100%);
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-family: 'Roboto', sans-serif;
  color: #d8d8d8;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
 
}

section.download p {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  color: #d8d8d8;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

  
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 40px;
}
/* finish section download*/

/*footer*/
.footer-fb:hover {
  color: #3B5998 !important;
  border: none !important;
}

.footer-tw:hover {
  color: #08a0e9 !important;
  border: none !important;
}

.footer-in:hover {
  color: #DD2A7B !important;
  border: none !important;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer a {
  font-family: 'Roboto', sans-serif;
  color: #fff
}

.footer p {
  color: #d6d6d6;
  font-family: 'Roboto', sans-serif;
}

.footer a:hover {
  color: #fff;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #ebb431 0%, #c90087 100%);
  border-image-slice: 1;
  text-decoration: none;
}

.footer {
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(64, 26, 130, 1) 0%, rgba(201, 0, 135, 1) 100%);
  color: transparent;
}

/*cards */
.play_button{
  background-color: #ff3d49;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 5px;
  bottom: 225px;
  font-size: 27px;
  padding-left: 6px;
  padding-top: 11px;
  color: #FFFFFF;
  cursor: pointer;
}
.play_button:hover{
  background-color: rgb(184, 65, 65);
}

/* submit button*/
.editbutton {
  padding: 10px 15px 5px;
  border-radius: 25px;
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(64, 26, 130, 1) 0%, rgba(201, 0, 135, 1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 17px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100px;
  height: 50px;

  vertical-align: middle;
}

.editbutton:hover {
  text-decoration: none;
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(201, 0, 135, 1) 0%, rgba(64, 26, 130, 1) 100%);
  color: #d8d8d8;
}
/*Dashboard style*/
.Title {
  color: #d8d8d8;
  padding-top: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

/*Dashboard background*/
.dashback{
  background-image: url("https://free4kwallpapers.com/uploads/originals/2020/04/29/marvel-avengers-wallpaper.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
}

.Titledsh{
/*Dashboard title*/
font-family: 'Roboto', sans-serif;
color: #070000;
font-weight: bold;
font-size: 2.5rem;
text-shadow: 2px 2px 5px rgb(121, 138, 138);
margin-bottom: 2rem;
}
/*Dashboard input*/
.inputdash{
      background-color: #ffffff;
      color: rgba(255, 255, 255, 0);
      width: 40%;
      height: 40px;
      border: auto;
      border-radius: 30px;
      margin-bottom: 0.5rem;
}
input{
  text-align: center;
}

/*space*/
.space{
  padding-top: 200px;
}
#tblcenter {
  padding-top: 7rem;

}



/*edit/delete buttons*/
#editbutton {
  padding: 10px 15px 5px;
  border-radius: 25px;
  background: rgb(64, 26, 130);
  background: linear-gradient(90deg, rgba(64, 26, 130, 1) 0%, rgba(201, 0, 135, 1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 17px;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 6.2rem;
}
/*take action title*/
#titleaction{
 margin-left: 17%;
 color: white;
 text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*ourmovies*/
.ourmovies{
  font-family: 'Roboto', sans-serif;
  color: #070000;
font-weight: 600;
  text-shadow: 2px 2px 5px rgb(121, 138, 138);
}
/*Title modal*/
#titlemodal{
  font-family: 'Roboto', sans-serif; 
  font-weight: 600;
  margin-top: 10px;
}
#marge{
  margin-bottom: 4rem;
}